<!-- TODO: item card with picture, name; wrapped in a clickable container that redirects to item instance page  -->
<div class="c-iteminstance-card">
    <a href="<%= iteminstance.url %>">
        <h1><%= iteminstance.size %></h1>
        <p><%= iteminstance.price %></p>
        <p><%= iteminstance.in_stock %></p>
        <img 
            src="data:<%= item.image.contentType %>;base64,
            <%= item.image.data.toString('base64') %>"
            alt="<%= item.image.name %>">
    </a>

    <% if (iteminstance.protected) { -%>
        <p>This Document is protected and cannot be changed or deleted.</p>
    <% } else { -%>
        <form action="/iteminstance/<%= iteminstance._id %>/update" method="GET">
            <button type="submit">Update</button>
        </form>
    <% } -%>
</div>
