<%- include('partials/_header' , { url })  %>

<div class="lg:w-full lg:max-w-4xl lg:mx-auto lg:my-0 mx-3 sm:mx-5 md:mx-10 c-brand-form">
    <% if ( brand === undefined ? false : brand.protected) { -%>
        <p class="mb-3 font-medium text-danger text-sm">This Document is protected and cannot be changed or deleted.</p>
    <% } -%>

    <% if (brand === undefined ? true : !brand.protected) { -%>
        <h1 class="text-3xl sm:text-4xl md:text-5xl mb-5 sm:mb-8 md:mb-10 font-bold"><%= title %></h1>
        <form
            action="<%= update ? `/brand/${ brand._id }/update` : '/brand/create' %>"
            method="POST"
            enctype="multipart/form-data"
            class="mb-10 c-form">
            <div class="c-form__group">
                <label for="name">Name</label>
                <input 
                    type="text"
                    id="name"
                    name="name"
                    required
                    placeholder="e.g. Electronics"
                    value="<%= brand ? brand.name : '' %>">
            </div>
            <div class="c-form__group">
                <label for="description">Description</label>
                <textarea type="text" id="description" required name="description">
                    <%= brand ? brand.description : '' %>
                </textarea>
            </div>
            <div class="c-form__group">
                <label for="location">Location</label>
                <input 
                    type="text"
                    id="location"
                    name="location"
                    required
                    placeholder="e.g. Asia"
                    value="<%= brand ? brand.location : '' %>">
            </div>
            <div class="c-form__group">
                <label for="image">Upload Image (< 300kb)</label>
                <input type="file" id="image" name="image" required>
            </div>
            <button class="c-btn c-btn--add" type="submit">Submit</button>
        </form>
    <% } -%>
</div>

<% if(errors) { %>
    <div class="c-errors">
        <% errors.forEach(function (err, index) { %>
            <div>
                <h4>Error #<%= index + 1 %></h4>
                <p>Error Message: <%= err.msg %></p>
                <p>Parameter: <%= err.param %></p>
            </div>
        <% }) %> 
    </div>
<% } %> 

<%- include('partials/_footer') %>
