<%- include('partials/_header') %> 

<!-- TODO: rework layout -->
<div class="o-wrap c-brand-delete">
    <h1><%= title %></h1>
    <div>
        <h2><%= brand.name %></h2>
        <p><%= brand.description %></p>
        <p><%= brand.location %></p>
        
        <form action="/brand/<%= brand._id  %>/delete" method="POST">
            <input type="hidden" name="brandid" value=<%= brand._id %>>
            <button type="submit">Delete</button>
        </form>
    </div>

    <% if (brand_items.length > 0) { -%>
        <h3>Please delete/edit these products first in order to delete the brand:</h3>
        <ul>
            <% brand_items.forEach(function (item) { -%>
                <li>
                    <a href="<%= item.url %>"><%= item.title %></a>
                    <p><%= item.description %></p>
                </li>
            <% }) %> 
        </ul>
    <% } -%>
</div>

<%- include('partials/_footer') %> 