<%- include('partials/_header' , { url })  %>

<div class="mb-10 lg:w-full lg:max-w-4xl lg:mx-auto lg:my-0 mx-3 sm:mx-5 md:mx-10 c-brand-detail">
    <h1 class="text-3xl sm:text-4xl md:text-5xl mb-5 sm:mb-8 md:mb-10 font-bold"><%= title %></h1>
    <div class="mb-10 pb-5 lg:mb-20 lg:pb-10 border-dark border-b c-brand-detail__container">
        <h2 class="text-xl sm:text-2xl md:text-3xl font-medium mb-3 sm:mb-5"><%= brand.name %></h2>
        <p class="text-sm mb-1"><%= brand.location %></p>
        <div class="flex mb-3 sm:mb-5">
            <p class="w-full sm:pr-5 sm:w-3/4 md:w-3/5"><%= brand.description %></p>
            <img 
            src="data:<%= brand.image.contentType %>;base64,
            <%= brand.image.data.toString('base64') %>"
            alt="<%= brand.image.name %>"
            class="hidden object-cover object-center max-h-48 sm:w-1/4 md:w-2/5 sm:block">
        </div>

        <% if (brand.protected) { -%>
            <p class="mb-3 font-medium text-danger text-sm">This Document is protected and cannot be changed or deleted.</p>
        <% } else { -%>
            <div class="flex w-full c-brand__btns">
                <form action="/brand/<%= brand._id %>/update" method="GET">
                    <button class="c-btn c-btn--update" type="submit">Update</button>
                </form>
                <form action="/brand/<%= brand._id %>/delete" method="GET">
                    <button class="c-btn c-btn--delete" type="submit">Delete</button>
                </form>
            </div>
        <% } -%>
    </div>

    <% if (brand_items.length > 0) { %>
        <div class="flex flex-wrap justify-between items-start mb-36 c-brand-detail__items">
            <% for (const item of brand_items) { %>
                <%- include('partials/_item_card', { item }) %>
            <% } %>
        </div>
    <% } %>
</div>

<%- include('partials/_footer') %>
