<%- include('partials/_header' , { url })  %>

<!-- TODO: rework layout -->
<div class="o-wrap c-category-delete">
    <h1><%= title %></h1>
    <div>
        <h2><%= category.name %></h2>
        <p><%= category.description %></p>
        
        <% if (category.protected) { -%>
            <p>This Document is protected and cannot be changed or deleted.</p>
        <% } else { -%>
            <form action="/category/<%= category._id  %>/delete" method="POST">
                <input type="hidden" name="categoryid" value=<%= category._id %>>
                <button type="submit">Delete</button>
            </form>
        <% } -%>
    </div>

    <% if (category_items.length > 0) { -%>
        <h3>Please delete/edit these products first in order to delete the category:</h3>
        <ul>
            <% category_items.forEach(function (item) { -%>
                <li>
                    <a href="<%= item.url %>"><%= item.title %></a>
                    <p><%= item.description %></p>
                </li>
            <% }) %> 
        </ul>
    <% } -%>
</div>

<%- include('partials/_footer') %> 