<%- include('partials/_header' , { url })  %>

<div class="c-error">
  <h1><%- error.message %></h1>
  <h2><%- error.status %></h2>
  <pre><%- error.stack %></pre>
</div>

<%- include('partials/_footer')  %>
