<%- include('partials/_header') %> 

<div class="o-wrap c-category">
    <div class="c-category__info">
        <h1><%= title %></h1>
        <form action="/category/create" method="GET">
            <button type="submit" class="c-btn c-btn--add">Create a new category</button>
        </form>
    </div>
    <% if (category_list.length > 0) { -%>
        <ul class="c-category__list">
            <% category_list.forEach(function (category) { -%>
                <li class="c-category__list__item">
                    <a href="/category/<%= category._id %>">
                        <%= category.name %>
                    </a>
                </li>
            <% }) %> 
        </ul>
    <% } -%>
</div>

<%- include('partials/_footer') %> 
