<%- include('partials/_header') %> 

<div class="o-wrap c-item">
    <h1><%= title %></h1>
    
    <form action="/item/create" method="GET">
        <button type="submit">Create a new Product</button>
    </form>

    <% if (item_list.length > 0) { -%>
        <ul>
            <% item_list.forEach(function (item) { -%>
                <li>
                    <a href="/item/<%= item._id %>">
                        <!-- TODO: product image -->
                        <h3><%= item.title %></h3>
                        <p><%= item.brand.name %></p>
                        <div>
                            <p>Categories:</p>
                            <ul>
                                <% item.category.forEach(function (category) { %>
                                    <li><%= category.name %></li>
                                <% }) %>
                            </ul>
                        </div>
                    </a>
                </li>
            <% }) %> 
        </ul>
    <% } -%>
</div>

<%- include('partials/_footer') %> 
