<%- include('partials/_header' , { url })  %>

<!-- TODO: rework layout; item details with edit and delete buttons; display lists of items that belong to this item -->
<div class="o-wrap c-item-detail">
    <h1><%= title %></h1>
    <div class="c-item-detail__container">
        <p><%= item.description %></p>
        <p><%= item.productID %></p>
        <p><%= item.brand.name %></p>

        <% if (item.category.length > 0) { -%>
            <ul>
                <% item.category.forEach(function (category) { -%>
                    <li>
                        <a href="/category/<%= category._id %>"><%= category.name %></a>
                    </li>
                <% }) %> 
            </ul>
        <% } -%>

        <img 
            src="data:<%= item.image.contentType %>;base64,
            <%= item.image.data.toString('base64') %>"
            alt="<%= item.image.name %>">

        <% if (item.protected) { -%>
            <p>This Document is protected and cannot be changed or deleted.</p>
        <% } else { -%>
            <div class="c-item__btns">
                <form action="/item/<%= item._id %>/update" method="GET">
                    <button class="c-btn" type="submit">Update</button>
                </form>
                <form action="/item/<%= item._id %>/delete" method="GET">
                    <button class="c-btn" type="submit">Delete</button>
                </form>
            </div>
        <% } -%>

        <div>
            <form action="/iteminstance/create" method="GET">
                <input type="hidden" name="itemid" value="<%= item._id %>">
                <button type="submit">Create a new Product instance</button>
            </form>
        </div>
    </div>


    <% if (item_instance.length > 0) { -%>
        <div class="c-item-detail__items">
            <% item_instance.forEach(function (iteminstance) { -%>
                <!-- loop through list of item and display item-cards -->
                <%- include('partials/_iteminstance_card', {iteminstance, item})%>
            <% }) %> 
        </div>
    <% } -%>

</div>

<%- include('partials/_footer') %> 
