<%- include('partials/_header' , { url })  %>
<!-- TODO: implement select options and checkboxes; link brand and category form for new creation 
implement checked brand option
-->
<div class="mb-10 lg:w-full lg:max-w-4xl lg:mx-auto lg:my-0 mx-3 sm:mx-5 md:mx-10 c-brand-form">
    <% if ( iteminstance === undefined ? false : iteminstance.protected) { -%>
        <p class="mb-3 font-medium text-danger text-sm">This Document is protected and cannot be changed or deleted.</p>
    <% } -%>

    <% if (iteminstance === undefined ? true : !iteminstance.protected) { -%>
        <h1 class="text-3xl sm:text-4xl md:text-5xl mb-5 sm:mb-8 md:mb-10 font-bold"><%= title %></h1>
        <form
            action="<%= update ? `/iteminstance/${ iteminstance._id }/update` : '/iteminstance/create' %>"
            method="POST"
            enctype="multipart/form-data"
            class="mb-10 c-form">
            <input type="hidden" name="itemid" value="<%= item._id %>">
            <input type="hidden" name="iteminstanceid" value="<%= iteminstance ? iteminstance._id : '' %>">
            <div class="c-form__group">
                <label for="size">Size</label>
                <input 
                    type="text"
                    id="size"
                    name="size"
                    required
                    placeholder="e.g. XXL"
                    value="<%= iteminstance ? iteminstance.size : '' %>">
            </div>
            <div class="c-form__group">
                <label for="price">Price</label>
                <input type="text" id="price" required name="price" value="<%= iteminstance ? iteminstance.price : '' %>" pattern="^\d+(,\d{1,2})?$" placeholder="Format: 1,23" required />
            </div>
            <div class="c-form__group">
                <label for="in_stock">In Stock</label>
                <input type="number" id="in_stock" required name="in_stock" value="<%= iteminstance ? iteminstance.in_stock : '' %>" min="1" max="99" required />
            </div>
            <button class="c-btn c-btn--add" type="submit">Submit</button>
        </form>
    <% } -%>
</div>

<% if(errors) { %>
    <div class="c-errors">
        <% errors.forEach(function (err, index) { %>
            <div>
                <h4>Error #<%= index + 1 %></h4>
                <p>Error Message: <%= err.msg %></p>
                <p>Parameter: <%= err.param %></p>
            </div>
        <% }) %> 
    </div>
<% } %> 

<%- include('partials/_footer') %>
