<%- include('partials/_header') %> 

<div class="o-wrap c-iteminstance">
    <h1><%= title %></h1>
    <p><%= description %></p>
    <p><%= brand %></p>
    <p><%= size %></p>
    <p><%= in_stock %></p>
    <p><%= price %></p>
    <p><%= productID %></p>

    <% if (categories.length > 0) { %>
        <div>
            <% for (const category of categories) { %>
                <p><%= category.name %></p>
            <% } %>
        </div>
    <% } %>

    <img 
    src="data:<%= iteminstance.item.image.contentType %>;base64,
    <%= iteminstance.item.image.data.toString('base64') %>"
    alt="<%= iteminstance.item.image.name %>">

    <% if (iteminstance.protected) { -%>
        <p>This Document is protected and cannot be changed or deleted.</p>
    <% } else { -%>
        <input type="hidden" name="iteminstance_id" value="<%= id %>">

        <form action="/iteminstance/<%= id %>/update" method="GET">
            <button type="submit">Update</button>
        </form>
        
        <button type="button" class="c-btn c-btn--delete c-btn--popup">Delete</button>
    <% } -%>
</div>

<% if (!iteminstance.protected) { -%>
    <%- include('partials/_popup', { document: iteminstance }) %>
<% } -%>

<%- include('partials/_footer') %> 