<%- include('partials/_header') %> 

<!-- TODO: rework layout; item details with edit and delete buttons; display lists of items that belong to this item -->
<div class="o-wrap c-item-detail">
    <h1><%= title %></h1>
    <div class="c-item-detail__container">
        <p><%= item.description %></p>
        <p><%= item.productID %></p>
        <p><%= item.brand.name %></p>

        <% if (item.category.length > 0) { -%>
            <ul>
                <% item.category.forEach(function (category) { -%>
                    <li>
                        <a href="/category/<%= category._id %>"><%= category.name %></a>
                    </li>
                <% }) %> 
            </ul>
        <% } -%>

    </div>
    <div class="c-item__btns">
        <form action="/item/<%= item._id %>/update" method="GET">
            <button class="c-btn" type="submit">Update</button>
        </form>
        <form action="/item/<%= item._id %>/delete" method="GET">
            <button class="c-btn" type="submit">Delete</button>
        </form>
    </div>

    <div class="c-item-detail__items">
        <% if (item_instance.length > 0) { -%>
            <% item_instance.forEach(function (iteminstance) { -%>
                <!-- loop through list of item and display item-cards -->
                <%- include('partials/_item_card') %>
            <% }) %> 
        <% } -%>
    </div>

</div>

<%- include('partials/_footer') %> 